%head
  %link{:rel => 'stylesheet', :type => 'text/css', :href => 'css/style.css'}
%body
  #main
    %form{ :id => 'login', :action => "", :method => "post"}
      #header
        Enter your MySQL login and password to see disk usage

      #field
        %label{:for => "username"} username:
        %input{:id => "username", :name => "username", :type => "text"}

      #field
        %label{:for => "password"} password:
        %input{:type => "password", :name => "password", :id => "password"}

      #button
        %button{:type => 'submit'} Log in
